.icon-size{
    font-size: 18px;
    color: lightgray;
}
.time-icon{
    font-size: 25px;
    color: blue;
    

}
.eye-icon2{
    font-size: 19px;
}
.eye-icon{
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
   background-color: #083f99;
}
.edit-icon{
    color: rgb(13, 13, 139);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
   background-color: #cbd1db;
}
.call-icon{
  font-size: 25px;
}
.callIn-icon{
    font-size: 25px;
    color: blue;
}
.dev-icon{
    font-size: 25px;
    color: lightgreen;
}